In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from google.colab import files

# upload do arquivo
uploaded = files.upload()

Saving data_v2.csv to data_v2.csv

In [3]:
data = pd.read_csv('data_v2.csv')

Removendo todas as linhas que tenham ao menos um campo nulo

In [4]:
data = data.dropna()
data

,valor,cep,cidade,bairro,zona,logradouro,categoria,area,qtde_quartos,qtde_vagas,qtde_banheiros
0,180000.0,69054060.0,Manaus,Parque 10 de Novembro,Centro-Sul,Rua 5,Casas,180.0,2.0,1.0,1.0
2,140000.0,69095000.0,Manaus,Cidade Nova,Norte,Avenida Noel Nutels - de 851/852 a 2399/2400,Casas,50.0,3.0,1.0,2.0
3,380000.0,69053030.0,Manaus,Nossa Senhora das Graças,Centro-Sul,Avenida Rio Madeira,Apartamentos,85.0,3.0,1.0,2.0
4,450000.0,69057050.0,Manaus,Adrianópolis,Centro-Sul,Avenida Ephigênio Salles,Apartamentos,120.0,3.0,2.0,2.0
5,90000.0,69038561.0,Manaus,Lírio do Vale,Oeste,Rua Ilha Oregon,Apartamentos,42.0,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
4499,650000.0,69037000.0,Manaus,Ponta Negra,Oeste,Avenida Coronel Teixeira,Casas,720.0,2.0,5.0,2.0
4500,40000.0,69037107.0,Manaus,Ponta Negra,Oeste,Rua Thales Loureiro,Apartamentos,60.0,3.0,2.0,2.0
4501,2000000.0,69037225.0,Manaus,Ponta Negra,Oeste,Avenida José Augusto Loureiro,Casas,404.0,5.0,4.0,5.0
4502,160368.0,69058000.0,Manaus,Flores,Centro-Sul,Conjunto Anavilhanas,Casas,80.0,2.0,2.0,2.0
4503,1600029.0,69037144.0,Manaus,Ponta Negra,Oeste,Avenida Frederico Baird,Casas,294.0,4.0,5.0,5.0

Removendo colunas que não vamos usar

In [5]:
data = data.drop(["cep", "cidade", "logradouro"], axis=1)

Obtendo os índices das linhas que contém dados inválidos (considerando as regras que estipulamos na aula) e removendo esses índices do dataset.

In [6]:
invalid_rows_index = data[(data['area'] < 20) | (data['valor'] < 40000)].index
data = data.drop(invalid_rows_index)
data

,valor,bairro,zona,categoria,area,qtde_quartos,qtde_vagas,qtde_banheiros
0,180000.0,Parque 10 de Novembro,Centro-Sul,Casas,180.0,2.0,1.0,1.0
2,140000.0,Cidade Nova,Norte,Casas,50.0,3.0,1.0,2.0
3,380000.0,Nossa Senhora das Graças,Centro-Sul,Apartamentos,85.0,3.0,1.0,2.0
4,450000.0,Adrianópolis,Centro-Sul,Apartamentos,120.0,3.0,2.0,2.0
5,90000.0,Lírio do Vale,Oeste,Apartamentos,42.0,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...
4499,650000.0,Ponta Negra,Oeste,Casas,720.0,2.0,5.0,2.0
4500,40000.0,Ponta Negra,Oeste,Apartamentos,60.0,3.0,2.0,2.0
4501,2000000.0,Ponta Negra,Oeste,Casas,404.0,5.0,4.0,5.0
4502,160368.0,Flores,Centro-Sul,Casas,80.0,2.0,2.0,2.0
4503,1600029.0,Ponta Negra,Oeste,Casas,294.0,4.0,5.0,5.0

Gerando um novo arquivo com os dados filtrados: data_v3.csv

In [7]:
data.to_csv('data_v3.csv')

Dados para o cálculo da amostra estratificada:

In [8]:
data['zona'].value_counts()

Centro-Sul      1237
Oeste           1093
Norte            620
Centro-Oeste     337
Sul              145
Leste             89
Name: zona, dtype: int64

<!-- Para uma amostra de $n=400$, os valores $n_h$ para cada classe são:

| Zona         | $n_h$ |
|--------------|-------|
| Centro-Sul   |       |
| Oeste        |       |
| Norte        |       |
| Centro-Oeste |       |
| Leste        |       | -->
O intervalo da amostra é calculado como $\frac{N}{n} = round(i) $ (O arredondamento da divisão $\frac{População}{amostra}$)

Para uma amostra de $n=400$, o intervalo é: $\frac{3521}{400} = \lceil 8.8025 \rceil = 9$

Ordenando pela variável a estratificar (zona)

In [17]:
data_sorted = data.sort_values(by=['zona'])
data_sorted

,valor,bairro,zona,categoria,area,qtde_quartos,qtde_vagas,qtde_banheiros
2250,1500000.0,Dom Pedro I,Centro-Oeste,Casas,300.0,5.0,3.0,5.0
1974,400000.0,Dom Pedro I,Centro-Oeste,Casas,168.0,3.0,5.0,2.0
3061,305000.0,Redenção,Centro-Oeste,Casas,300.0,2.0,4.0,1.0
3054,300000.0,Planalto,Centro-Oeste,Casas,250.0,2.0,1.0,1.0
2411,700000.0,Dom Pedro I,Centro-Oeste,Apartamentos,100.0,3.0,2.0,2.0
...,...,...,...,...,...,...,...,...
790,310000.0,Petrópolis,Sul,Apartamentos,72.0,2.0,1.0,2.0
4277,130000.0,Japiim,Sul,Casas,120.0,3.0,1.0,1.0
1241,1750000.0,Centro,Sul,Casas,450.0,4.0,5.0,4.0
2853,282500.0,Centro,Sul,Casas,198.0,5.0,5.0,5.0
1188,600000.0,Japiim,Sul,Casas,119.0,3.0,4.0,3.0

Obtendo o primeiro elemento da amostra e, em seguida, os demais índices.

(no primeiro sorteio, o `first_id` foi 3)

In [29]:
first_id = np.random.randint(0, 9, 1)
first_id

array([3])

In [47]:
# range com início, fim e intervalo
ids = np.arange(3, 3521, 9)

Como o valor do intervalo foi arredondado, obtivemos 391 itens na amostra

In [48]:
amostra = data.iloc[ids]
amostra

,valor,bairro,zona,categoria,area,qtde_quartos,qtde_vagas,qtde_banheiros
4,450000.0,Adrianópolis,Centro-Sul,Apartamentos,120.0,3.0,2.0,2.0
13,160000.0,Lago Azul,Norte,Apartamentos,60.0,3.0,1.0,2.0
22,200129.0,Tarumã,Oeste,Apartamentos,70.0,2.0,1.0,1.0
34,580000.0,Colônia Terra Nova,Norte,Casas,175.0,3.0,4.0,4.0
43,1450000.0,Ponta Negra,Oeste,Casas,246.0,4.0,5.0,5.0
...,...,...,...,...,...,...,...,...
4454,570000.0,Planalto,Centro-Oeste,Casas,200.0,3.0,5.0,3.0
4465,860000.0,Tarumã,Oeste,Casas,254.0,3.0,4.0,4.0
4476,9000000.0,Ponta Negra,Oeste,Casas,6000.0,4.0,5.0,5.0
4486,265000.0,Colônia Oliveira Machado,Sul,Casas,135.0,2.0,3.0,3.0
4496,570000.0,Adrianópolis,Centro-Sul,Apartamentos,135.0,3.0,2.0,1.0

Percentuais de cada zona no dataset original para validar a amostra:

In [54]:
(data.zona.value_counts(normalize=True) * 100).round()

Centro-Sul      35.0
Oeste           31.0
Norte           18.0
Centro-Oeste    10.0
Sul              4.0
Leste            3.0
Name: zona, dtype: float64

Percentuais na amostra:

In [55]:
(amostra.zona.value_counts(normalize=True) * 100).round()

Centro-Sul      35.0
Oeste           30.0
Norte           19.0
Centro-Oeste    11.0
Sul              3.0
Leste            2.0
Name: zona, dtype: float64

In [50]:
amostra.to_csv('data_amostra.csv')